/*###############################################################
                           Menu (style)
###############################################################*/
/* --------------------------- rest  ------------------------- */
/* ---------------------------- mac  ------------------------- */
/* line 16, ../sass/nojs-menu.scss */
.mac {
  -webkit-transform: perspective(840px);
}

/* line 19, ../sass/nojs-menu.scss */
[nojs-menu="mac"] {
  /*-webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;*/
  -webkit-transform: rotateY(0deg) rotateX(63deg) rotateZ(0deg);
  background-color: aquamarine;
  border-radius: 5px;
  height: 40px;
}

/* line 31, ../sass/nojs-menu.scss */
[nojs-menu="mac"] li {
  -webkit-transform: rotateY(0deg) rotateX(63deg) rotateZ(0deg);
}

/* ----------------------------- d3  ------------------------- */
/* line 47, ../sass/nojs-menu.scss */
[nojs-menu="d3"] {
  display: inline-block;
  float: left;
  max-width: 900px;
  width: 50px;
  padding: 13px;
  -webkit-transform: rotate(90deg);
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}

/* line 60, ../sass/nojs-menu.scss */
[nojs-menu="d3"]:before {
  content: ':-)';
  color: rgba(219, 219, 32, 0.78);
  text-shadow: 0px 0px 5px #ff00f5;
  font-size: 35px;
  background: teal;
  padding: 10px 8px 15px 8px;
  position: rel;
}

/* line 69, ../sass/nojs-menu.scss */
article:hover [nojs-menu="d3"]:before {
  content: ':---)';
}

/* line 72, ../sass/nojs-menu.scss */
article:hover [nojs-menu="d3"] {
  width: 100%;
  -webkit-transform: rotate(0deg);
}

/* line 76, ../sass/nojs-menu.scss */
[nojs-menu="d3"] li {
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
  display: inline-block;
  background-color: #007747;
}

/* line 85, ../sass/nojs-menu.scss */
[nojs-menu="d3"] li {
  border-radius: 100% 0;
  background-color: #1BACA6;
  font-size: 0;
}

/* line 92, ../sass/nojs-menu.scss */
[nojs-menu="d3"] li:hover {
  -webkit-transform: rotateX(44deg) matrix(1, 0, 0.5, 1, 0, -1);
  -o-transform: rotateX(44deg) matrix(1, 0, 0.5, 1, 0, -1);
  -moz-transform: rotateX(44deg) matrix(1, 0, 0.5, 1, 0, -1);
  -ms-transform: rotateX(44deg) matrix(1, 0, 0.5, 1, 0, -1);
  transform: rotateX(44deg) matrix(1, 0, 0.5, 1, 0, -1);
  box-shadow: -4px 15px 6px -3px rgba(0, 0, 0, 0.51);
}

/* line 100, ../sass/nojs-menu.scss */
article:hover [nojs-menu="d3"] > li {
  padding: 13px 40px;
  height: 100%;
  border-radius: 0 20px;
  font-size: 1.2em;
  	/*font-size: 1.2em;
  	text-decoration: blink;
    border: 1px solid #7A5743;
  	border-right: 1px solid #000000;
  	color: white;
  	text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  	line-height: 3;
    font-weight: 600;
  	display: block;
  width: 100%;*/
}

 /*
[nojs-menu="d3"] a {
line-height: 3; font-size: 1.2em;
}
[nojs-menu="d3"] * + *  {
font-size: 0px;
width: 0;
}*/
/* --------------------------- main  ------------------------- */
/* line 128, ../sass/nojs-menu.scss */
[nojs-menu="main"] {
  padding: 0;
  display: table;
  width: 100%;
  max-width: 900px;
  background-color: #007747;
}

/* line 135, ../sass/nojs-menu.scss */
[nojs-menu="main"] * {
  padding: 0;
}

/* line 136, ../sass/nojs-menu.scss */
[nojs-menu="main"] > li {
  position: relative;
  display: table-cell;
}

/* line 137, ../sass/nojs-menu.scss */
[nojs-menu="main"] a {
  text-decoration: blink;
  border: 1px solid #7A5743;
  border-right: 1px solid #000000;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 1.2em;
  line-height: 3;
  font-weight: 600;
  width: 100%;
  display: block;
}

/* line 149, ../sass/nojs-menu.scss */
[nojs-menu="main"] menu {
  top: 58px;
  padding: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  color: #610000;
}

/* line 156, ../sass/nojs-menu.scss */
[nojs-menu="main"] menu > a {
  display: table-cell;
  vertical-align: middle;
  width: auto;
  padding: 0 30px;
  color: black;
}

/* line 162, ../sass/nojs-menu.scss */
[nojs-menu="main"] a:target, [nojs-menu="main"] a:hover {
  background-color: #78B89E;
}

/* ------------------------- mobile  ------------------------- */
/* line 168, ../sass/nojs-menu.scss */
input[nojs-menu] {
  float: left;
  margin: 0px 0 35px 0;
}

/* line 172, ../sass/nojs-menu.scss */
input[nojs-menu]:before {
  content: '=';
  position: relative;
  z-index: 1001;
  font-size: 35px;
  background: teal;
  padding: 0px 10px;
}

/* line 180, ../sass/nojs-menu.scss */
input[nojs-menu]:hover:before {
  background: #04a7a7;
}

/* line 181, ../sass/nojs-menu.scss */
input[nojs-menu] + * {
  background: azure;
  padding: 0;
  margin: 0;
  margin: 40px 0 0 0;
  top: auto;
  border: 1px solid;
  border-radius: 5px;
}

/* line 190, ../sass/nojs-menu.scss */
input[nojs-menu] + * menu {
  background: azure;
  padding: 0;
  top: auto;
  border: 1px solid;
}

/* line 196, ../sass/nojs-menu.scss */
input[nojs-menu] + * a {
  padding: 15px;
  text-decoration: blink;
}

/* line 200, ../sass/nojs-menu.scss */
[nojs-menu="uppercase"] * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
  text-transform: uppercase;
  text-decoration: blink;
}

/* --------------------------- fixed  ------------------------- */
/* line 210, ../sass/nojs-menu.scss */
[nojs-menu="fixed"] {
  position: fixed;
  left: 30px;
  top: 30%;
  bottom: 0;
  margin: auto;
}

/* line 218, ../sass/nojs-menu.scss */
[nojs-menu="fixed"] menu {
  padding: 0px 0px 0px 10px;
  margin: -50px 0 0 65px;
}

/* line 222, ../sass/nojs-menu.scss */
[nojs-menu="fixed"] menu a + a {
  margin-left: 5px;
}

/* line 225, ../sass/nojs-menu.scss */
[nojs-menu="fixed"] > * {
  display: block;
}

/* line 228, ../sass/nojs-menu.scss */
[nojs-menu="fixed"] > * + * {
  margin-top: 5px;
}

/* line 232, ../sass/nojs-menu.scss */
[nojs-menu="fixed"] a {
  padding: 15px;
  background: beige;
  text-decoration: blink;
  display: inline-block;
  color: black;
  border-radius: 25px 0;
  border-bottom: 3px solid sandybrown;
}

/* line 242, ../sass/nojs-menu.scss */
[nojs-menu="fixed"] a:target, [nojs-menu="fixed"] a:hover {
  background-color: #F8E5C3;
}
