

body {
  background: black;
  text-align: center;
	padding-top: 120px;
}

section#home{
height: 100%;
position: fixed;
width: 100%;
}
logo {
	display: block;
		margin-top: 75px;
	-webkit-transform: perspective(840px) rotateY(0deg) rotateX(63deg) rotateZ(27deg) ;
	-webkit-transition: all 4s;
	-moz-transition: all 4s;
	-ms-transition: all 4s;
	-o-transition: all 4s;
	transition: all 4s;
	color: white;
	font-size: 10em;
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 740px 240px rgb(66, 66, 66);
	border: 10px solid rgba(0, 0, 0, 0.25);
}
#home:hover logo{
text-shadow: 150px 15px 30px rgba(160, 134, 109, 0.5);
margin-top: -50px;
		-webkit-transform: perspective(440px) rotateX(370deg)  rotateY(0deg);
font-size: 30em;
border-radius: 0 900px;
}
[nojs-menu="main-menu"]  a.active {
color:red;
}
[nojs-menu="main-menu"] {
	margin: 0 auto;
	position: fixed;
	right: 0;
	left: 0;
	top: 7%;
	padding: 0;
	display: table;
	width: 100%;
	max-width: 900px;
	background-color: #742E00;
	-moz-box-shadow:  -1px 0px 15px 0px #9E5200;
	-webkit-box-shadow: -1px 0px 15px 0px #9E5200;
	box-shadow:  -1px 0px 15px 0px #9E5200;
	z-index: 1000;
	font-size: 1.2em;
}
[nojs-menu="main-menu"] li {
	display: table-cell;
	  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
[nojs-menu="main-menu"] a {
	text-decoration: blink;
	color: white;
	line-height: 3;
  font-weight: 600;
	width: 100%;
}
[nojs-menu="main-menu"] > li:hover {
    background-color: #92683A;
    border-top-color: #92683A;
}
[nojs-menu="main-menu"] menu {
	top: 58px;	
	padding: 0;
	font-size: 0;
	margin: 0 auto;
	display: block !important;
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;

}
[nojs-menu="main-menu"] menu a {
	color: rgb(97, 0, 0);
	display: table-cell;
	width: auto;
	padding: 0 20px;
}
[nojs-menu="main-menu"] menu a:hover {
	background-color: rgba(107, 107, 107, 0.5);
}
[nojs-menu="main-menu"] > li:hover menu{
	border: 1px solid #555;
	font-size: 1.1em;
}
article {
	background: beige;
	display: inline-block;
	width: 50%;
	padding: 10px;
	border: 3px solid antiquewhite;
	margin: 5px 0;
}
#slider article {
width: 79%;
height: 465px;
overflow: hidden;
}
