
/*###############################################################
                       nojs - alt
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

  <div nojs-alt nojs-data-alt="asdfefasf sfs"> <img src="images/5.jpg" /> </div>

*/

[nojs-alt] {
position: relative;
}
[nojs-alt]:hover:before { 
	content: attr(nojs-text-alt);
	position: absolute;
	background: slategrey;
	margin: 0px 0px 0px 0%;
	border: 1px solid;
	padding: 5px;
	min-width: 100px;
}
/*[nojs-alt]:after {
	content: '';
	position: absolute;
	border: solid;
	border-width: 0 1px 1px 0;
	padding: 5px;
	-webkit-transform: rotate(-45deg);
	background: slategrey;
}*/
[nojs-alt]:before { left:101%; right: auto; }
[nojs-alt]:after { top:2%; }

[nojs-alt*="left"]:before,[nojs-alt*="left"]:after { left:auto; right: 101%; }

[nojs-alt*="top"]:before,[nojs-alt*="top"]:after { top:auto; bottom: 101%;  left: auto; right: auto; }
[nojs-alt*="top"]:after { top:-2%; }

[nojs-alt*="middle"]:before { 
top: 0;
right: 0;
left: 0;
bottom: 0;
max-width: 100px;
max-height: 60px;
margin: auto;
}

[nojs-alt*="bottom"]:before { top:101%; right: auto;  left: auto; right: auto;  }
[nojs-alt*="bottom"]:after { bottom:-2%; }

/*###############################################################
                       nojs - transform
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

  <div nojs-transform> </div> 

  <div nojs-transform="{top / bottom / right / left / front / back / middle}"> </div>

  <div nojs-transform="box circle">
    <div></div>   <!-- top -->
    <div></div>   <!-- right -->
    <div></div>   <!-- bottom -->
    <div></div>   <!-- left -->
    <div></div>   <!-- front -->
    <div></div>   <!-- back -->
    <div></div>   <!-- middle -->
  </div>

*/

[nojs-transform] { 
	//perspective: 450px;
	transform-style: preserve-3d;
}
[nojs-transform*="1"] { 
-webkit-transform: matrix(0.9,0.2,0.4,1,0,0);
}
[nojs-transform*="2"] { 
-webkit-transform: matrix(0.5,-0.2,0.4,0.5,0,0);
}
[nojs-transform*="3"] { 
-webkit-transform: matrix(0.9,0,-0.7,0.5,0,0);
}
[nojs-transform*="top"] { 
transform: rotateX(90deg);
transform-origin: top;
}
[nojs-transform*="bottom"] { 
-webkit-transform: rotateX(-90deg);
-webkit-transform-origin: bottom;
}
[nojs-transform*="right"] { 
-webkit-transform: rotateY(90deg);
-webkit-transform-origin: right;
}
[nojs-transform*="left"] { 
-webkit-transform: rotateY(-90deg);
-webkit-transform-origin: left;
}
[nojs-transform*="front"] { 
-webkit-transform: rotateY(0deg);
-webkit-transform-origin: center;
}
[nojs-transform*="back"] { 
-webkit-transform: rotateZ(0deg);
-webkit-transform-origin: center;
}
[nojs-transform*="middle"] { 
-webkit-transform: rotateY(0deg);
-webkit-transform-origin: center;
}

/* ---- circle ---- */

[nojs-transform*="circle"] { 

}

/* ---- box ---- */

[nojs-transform*="box"] { 
position: relative;
width: 100px;
height: 100px;
transform: rotateX(45deg) rotateY(-45deg);
//box-shadow: 33px 35px 19px 2px #F00 inset;
border-radius: 3px;
}
[nojs-transform*="box"] > *{ 
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;border: 5px solid royalblue;
margin: auto;
backface-visibility: visible;

border-radius: 3px;
overflow: hidden;
opacity: 0.5;
}
[nojs-transform*="box"] >*:nth-child(1) { 
transform: rotateX(-90deg);
transform-origin: top;
}
[nojs-transform*="box"] >*:nth-child(2) { 
transform: rotateX(90deg);
transform-origin: bottom;
}
[nojs-transform*="box"] >*:nth-child(3) { 
transform: rotateY(-90deg);
transform-origin: right;
}
[nojs-transform*="box"]>*:nth-child(4) { 
transform: rotateY(90deg);
transform-origin: left;
}
[nojs-transform*="box"]>*:nth-child(5) { 
//transform: scale(0.5);
//transform: translateZ(-450px);
transform-origin: conter;
}
[nojs-transform*="box"]:nth-child(6) { 
//transform: translateZ(0px);
transform-origin: conter;
}


/*###############################################################
                       nojs - transition
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

  <div nojs-transition> </div> 

  <div nojs-transition=""> </div> 

*/

[nojs-transition] {
  -webkit-transition: all .7s;
	-o-transition: all .7s;
	-ms-transition: all .7s;
	-mzo-transition: all .7s;
	transition: all .7s;
}


/*###############################################################
                       nojs - animation
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

  <div nojs-animation> </div> 

  <div nojs-animation=""> </div> 

*/

[nojs-animation] { 

}


/*###############################################################
                          nojs - slider
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------
   <div nojs-slider> 

     <!--- slide 1 --->
	   <input nojs-slider-click type="radio" name="groupName" checked>
     <div> <img/> </div>
     
     <!--- slide 2 --->
     <input nojs-slider-click type="radio" name="groupName">
     <div> <img/> </div>
      
     <!--- slide 3 --->
     <input nojs-slider-click type="radio" name="groupName">
     <div> <img/> </div>  

   </div> 
*/

[nojs-slider] { 
  position: relative;
}
[nojs-slider] img { width: 100%; }
[nojs-slider-click] + * { 

}

[nojs-slider-click] { width: 0; height: 0; margin: 0; display: block;

-webkit-appearance: none;
-moz-appearance: none;

 }
[nojs-slider-click]:before,[nojs-slider-click]:after {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 50px;
	color:red;
}
[nojs-slider-click]:before { content: '<'; left: 0; right: auto;  }
[nojs-slider-click]:after  { content: '>'; left: auto;    right:0;  }

[nojs-slider-click] + * { display: none; }

/* Loop: last next */
[nojs-slider-click] ~ [nojs-slider-click]:after { display: none; }

/* Loop: first pevr */
[nojs-slider-click] ~ [nojs-slider-click]:checked ~ [nojs-slider-click]:before { display: none; }

/* display */
[nojs-slider-click]:checked + *,
[nojs-slider-click]:checked ~ [nojs-slider-click]:after {
  display: block;
}
[nojs-slider-click]:checked:after, [nojs-slider-click]:checked:before,
[nojs-slider-click]:checked ~ [nojs-slider-click] ~ [nojs-slider-click]:after { 
  display: none; 
}

/*###############################################################
                       nojs - lightbox
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

   ------------
    (1) Lightbox
   ------------
   <div nojs-lightbox >
			<img/>
   		<input nojs-lightbox-click type="checkbox" > 
   		<div> <img/> </div>
		</div>

   --------------------
    (2) Between-slider
   -------------------

   <div nojs-slider> 

     <!--- lightbox-close --->
     <input nojs-lightbox-close type="radio" name="groupName_2" id="close" checked>

     <!--- slide 1 --->
	   <input nojs-slider-click type="radio" name="groupName" checked>
     <div> <img/> </div>

     <!--- lightbox 1 --->
		 <input nojs-lightbox-item type="radio"> 
		 <div> <img/> </div>
     
     <!--- slide 2 --->
	   <input nojs-slider-click type="radio" name="groupName">
     <div> <img/> </div>

     <!--- lightbox 2 --->
		 <input nojs-lightbox-item type="radio"> 
		 <div> <img/> </div>

   </div> 

   ----------------------
    (4) Target-to-slider
   ----------------------
	 
   <div nojs-slider>    <!--- Slider -->

     <!--- slide 1 --->
	   <input nojs-slider-click type="radio" name="groupName_1" checked>
     <label for="slide1"> <img/> </label>
     
     <!--- slide 2 --->
	   <input nojs-slider-click type="radio" name="groupName_1">
     <label for="slide2"> <img/> </label>

   </div> 

   <div nojs-slider >   <!--- Lightbox -->
     
     <input nojs-lightbox-close type="radio" name="groupName_2" id="close">

     <!--- slide 1 --->
	   <input nojs-slider-click type="radio" name="groupName_2" id="slide1">
     <div> <img/> </div>
     
     <!--- slide 2 --->
	   <input nojs-slider-click type="radio" name="groupName_2" id="slide2">
     <div> <img/> </div>

   </div> 

*/

/* ------------------- lightbox -------------------- */

[nojs-lightbox] { position: relative; }
[nojs-lightbox] img { width: 100% }

[nojs-lightbox-click] { width: 0; height: 0; margin: 0; }
[nojs-lightbox-click]:after {
  content: '';  display: block;
  position: absolute; top: 0;	right: 0;	left: 0; bottom: 0;
}
[nojs-lightbox-click]:checked:before {
  content: 'X';  display: block;
	position: fixed; top: 0;
  z-index: 1001;  color:red;
}
[nojs-lightbox-click]:checked:after {
 content: '';  display: block;
 background: black;
 background: rgba(0, 0, 0, 0.8);
 position: fixed;  top: 0; left: 0; bottom: 0; right: 0;
 z-index: 1000;
		//pointer-events: none;
}

[nojs-lightbox-click] + * { display: none; }
[nojs-lightbox-click]:checked + * { 
	display: block;
	position: fixed; 	top: 0;	right: 0;	left: 0;	bottom: 0;
	z-index: 1000;
  max-width: 80%;
  max-height: 90%;
	margin: auto; 
}

/* -------------------- (1) lightbox in slider -------------------- */

[nojs-lightbox-close] { width: 0; height: 0; margin: 0; }
[nojs-lightbox-close]:before {
  content: 'X';  display: block;
	position: fixed; top: 0;
  z-index: 1001;  color:red;
}
[nojs-lightbox-close]:after {
 content: '';  display: block;
 background: black;
 background: rgba(0, 0, 0, 0.8);
 position: fixed;  top: 0; left: 0; bottom: 0; right: 0;
 z-index: 1000;
	//pointer-events: none;
}
[nojs-lightbox-close]:checked { display: none; }

[nojs-lightbox-item] { width: 0; height: 0; margin: 0; }
[nojs-lightbox-close]:checked ~ [nojs-lightbox-item]:after {
  content: '';  display: block;
  position: absolute; top: 0;	right: 0;	left: 0; bottom: 0;  z-index: 0; 
}
[nojs-lightbox-close]:checked ~ [nojs-lightbox-item]:before { display: none; }

[nojs-lightbox-close]:checked ~ [nojs-slider-click]:checked ~ [nojs-lightbox-item] { display: block; }
[nojs-lightbox-close]:checked ~ [nojs-slider-click]:checked ~ [nojs-lightbox-item] ~ [nojs-lightbox-item] { display: none; }

[nojs-lightbox-item] + * { display: none; }
[nojs-lightbox-item]:checked + * { 
	display: block;
	position: fixed; 	top: 0;	right: 0;	left: 0;	bottom: 0;
	z-index: 1000;
  max-width: 80%;
  max-height: 80%;
	margin: auto; 
}

[nojs-lightbox-item]:before, [nojs-lightbox-item]:after {
  position: fixed;
  top: 50%;
  z-index: 1010;
  font-size: 50px; color:red;
}
[nojs-lightbox-item]:before { content: '<'; left: 10%; right: auto;  }
[nojs-lightbox-item]:after  { content: '>'; left: auto;    right:10%;  }

/* Loop: last next */
[nojs-lightbox-item] ~ [nojs-lightbox-item]:after { display: none; }

/* Loop: first pevr */
[nojs-lightbox-item] ~ [nojs-lightbox-item]:checked ~ [nojs-lightbox-item]:before { display: none; }

/* display */
[nojs-lightbox-item]:checked + *, [nojs-lightbox-item]:checked ~ [nojs-lightbox-item]:after {
  display: block;
}
[nojs-lightbox-item]:checked:after,[nojs-lightbox-item]:checked:before,
[nojs-lightbox-item]:checked ~ [nojs-lightbox-item] ~ [nojs-lightbox-item]:after { 
  display: none; 
}

/* -------------------- (3) treger-to-slider ------------------- */

.nothing {}


/*###############################################################
                       nojs - menu
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

   -----------------
    (1) with links
   -----------------

    <menu nojs-menu>
      <li><a href="/home">home</a></li>
      <li><a href="/about">about</a>
		  	<menu>
		     <a href="/contact">contact</a>
				 <a href="/contact_info">info</a>
     		</menu>
			</li>
    </menu>

   ------------------
    (2) with Anchors
   ------------------

    <menu nojs-menu>
      <li><a href="#home" id="home">home</a></li>
      <li><a href="#about">about</a>
		  	<menu>
		     <a href="#contact">contact</a>
				 <a href="#contact_info">info</a>
     		</menu>
			</li>
    </menu>
	
		<section nojs-menu-section id="home"> text </section>
		<section nojs-menu-section id="about"> text </section>
		<section nojs-menu-section id="contact"> text </section>
		<section nojs-menu-section id="contact_info"> text </section>

  ------------------
    (2) with select
   ------------------

		<input nojs-menu type="checkbox" /> 
    <menu>
      <li><a href="#home" id="home">home</a></li>
      <li><a href="#about">about</a>
		  	<menu>
		     <a href="#contact">contact</a>
				 <a href="#contact_info">info</a>
     		</menu>
			</li>
    </menu>
*/

[nojs-menu] * { display: inline-block; }
[nojs-menu] * > menu { display: none; position: absolute; margin: 0; padding: 0; }
[nojs-menu] *:hover > menu { display: block; }
[nojs-menu] *:target { color: red; } 

[nojs-menu-section] { display: none; }
[nojs-menu-section]:target { display: block; }

input[nojs-menu] { width: 0; height: 0; margin: 0; cursor: pointer; }
input[nojs-menu]:before { content: '=';	position: relative;	z-index: 1001; } 
input[nojs-menu]:after {
   content: '';
	 position: fixed;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 z-index: 1000;
   display: none; 
}
input[nojs-menu] + * { display: none; position: absolute; z-index: 1000; }
input[nojs-menu]:checked + * { display: block; }
input[nojs-menu]:checked:after { display: block; }


/*###############################################################
                       nojs - tabs
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

  <div nojs-tabs>

    <!--- tab 1 --->
		<input label="tab-label" type="radio{OR:checkbox}" name="tabs" checked/>
    <div></div>

    <!--- tab 2 --->
		<input label="tab-label" type="radio{OR:checkbox}" name="tabs"/>
    <div></div>

    <!--- tab 3 --->
		<input label="tab-label" type="radio{OR:checkbox}" name="tabs"/>
    <div></div>

  </div>


  ------------------
    (2) with select
  ------------------

  <div nojs-tabs>

    <!--- tab 1 --->
		<input type="radio{OR:checkbox}" name="tabs" checked/>
    <label>tab-label</label>
		<div></div>

    <!--- tab 2 --->
		<input type="radio{OR:checkbox}" name="tabs"/>
    <label>tab-label</label>
		<div></div>

    <!--- tab 3 --->
		<input type="radio{OR:checkbox}" name="tabs"/>
    <label>tab-label</label>
		<div></div>

  </div>

  ------------------
    (2) with select
  ------------------

  <div nojs-tabs>

    <!--- tab 1 --->
		<input type="radio{OR:checkbox}" name="tabs" checked/>
    <label>tab-label</label>
		<div></div>

    <!--- tab 2 --->
		<input type="radio{OR:checkbox}" name="tabs"/>
    <label>tab-label</label>
		<div></div>

    <!--- tab 3 --->
		<input type="radio{OR:checkbox}" name="tabs"/>
    <label>tab-label</label>
		<div></div>

  </div>


*/

[nojs-tabs] { position: relative; height: 300px; }
[nojs-tabs] > input { margin: 0; height: 0; min-width: 100px; display: inline-block; }
[nojs-tabs] > input:before{ content: attr(label); cursor: pointer; }

[nojs-tabs] > input:checked:before { background-color: black; color: white ; padding: 5px;}
[nojs-tabs] > input + * { display: none; }
[nojs-tabs] > input:checked + * { display: block; }

[nojs-tabs] > input + * {
	position: absolute;
	top: 40px;
	height: 270px;
	overflow: auto;
}



/*###############################################################
                       nojs - accordion
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------

  <div nojs-accordion>

    <!--- tab 1 --->
		<input label="tab-label" type="radio{OR:checkbox}" name="accordion" checked/>
    <div></div>

    <!--- tab 2 --->
		<input label="tab-label" type="radio{OR:checkbox}" name="accordion"/>
    <div></div>

    <!--- tab 3 --->
		<input label="tab-label" type="radio{OR:checkbox}" name="accordion"/>
    <div></div>

  </div>

*/

[nojs-accordion] {  }
[nojs-accordion] > input { 
	margin: 0; height: 0;
	min-width: 150px;
	margin-bottom: 35px;
	display: block; 
	cursor: pointer;
 }
[nojs-accordion] > input:before{ content: attr(label); }
[nojs-accordion] > input:checked:before { background-color: black; color: white ; padding: 5px;}

[nojs-accordion] > input + * { display: none; }
[nojs-accordion] > input:checked + *,
[nojs-accordion*="hover"] > input:hover + * { display: block; }


/*###############################################################
                       nojs - search
###############################################################*/

/* --------------------------------------------------------------
 * HTML Syntax
 * --------------------------------------------------------------



*/

search hr{margin-top: 50px;}
[search-target] { 
	width: 160px;
	height: 0;
	margin: 0; 
}

[search-target]:before{
	content: attr(data-label);
	color: rgb(46, 29, 0);
	padding: 13px 50px;
	background-color: antiquewhite;
	border-radius: 0 100px;
}

[search-target]:hover:before {
	background-color: rgb(218, 125, 1);
}

[search] {
	width:0;
	height: 150px;
	float: left;
	-webkit-transition: all .7s;
	transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
search { 
	width: 100%;
	max-width: 1025px;
	margin: auto;
	min-height: 600px;
}	
[search] img { width: 100%;  height: 100%;}
[search] { /*display:none;*/ }

[search-target="all"]:checked	~ [search],
[search-target="test-1"]:checked	~ [search*="test-1"],
[search-target="test-2"]:checked	~ [search*="test-2"],
[search-target="test-3"]:checked	~ [search*="3"],
[search-target="test-4"]:checked	~ [search*="test-4"] { 
	width: 225px;
	border: 1px solid #e4e4e4;
	padding: 5px;
	margin: 9px;
	background-color: rgba(255, 255, 255, 0.5);
}


