
/*###############################################################
                          nojs - slider
###############################################################*/

/* --------------------------------------------------------------
 * HTML Sintaxs
 * --------------------------------------------------------------
	 <div nojs-slider> 

     <!--- slide 1 --->
	   <input nojs-slide-click type="radio" name="groupName" checked>
     <div> <img/> </div>
     
     <!--- slide 2 --->
     <input nojs-slide-click type="radio" name="groupName">
     <div]> <img/> </div>
      
     <!--- slide 3 --->
     <input nojs-slide-click type="radio" name="groupName">
     <div> <img/> </div>  

   </div> 
*/

[nojs-slider] { 
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
[nojs-slide-click] + * { 
  width: 1000px;
  height: 500px;
}

[nojs-slide-click] { width: 0; height: 0; margin: 0; }
[nojs-slide-click]:before,[nojs-slide-click]:after {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 50px;
}
[nojs-slide-click]:before { content: '<'; left: 0; right: auto;  }
[nojs-slide-click]:after  { content: '>'; left: auto;    right:0;  }

[nojs-slide-click] + * { display: none; }

/* Loop: last next */
[nojs-slide-click] ~ [nojs-slide-click]:after { display: none; }

/* Loop: first pevr */
[nojs-slide-click] ~ [nojs-slide-click]:checked ~ [nojs-slide-click]:before { display: none; }

/* display */
[nojs-slide-click]:checked + *,
[nojs-slide-click]:checked ~ [nojs-slide-click]:after {
  display: block;
}
[nojs-slide-click]:checked:after, [nojs-slide-click]:checked:before,
[nojs-slide-click]:checked ~ [nojs-slide-click] ~ [nojs-slide-click]:after { 
  display: none; 
}

/*###############################################################
                       nojs - lightbox
###############################################################*/

/* --------------------------------------------------------------
 * HTML Sintaxs
 * --------------------------------------------------------------

   ------------
    (1) single
   ------------

   <input nojs-lightbox-single nojs-lightbox-close type="checkbox" checked> 
   <div> <img/> </div>

   --------------------
    (2) Between-slider
   -------------------

   <div nojs-slider> 

     <!--- lightbox-close --->
     <input nojs-lightbox-close type="radio" name="groupName_2" id="close" checked>

     <!--- slide 1 --->
	   <input nojs-slide-click type="radio" name="groupName" checked>
     <div> <img/> </div>

     <!--- lightbox 1 --->
		 <input nojs-lightbox-click type="radio"> 
		 <div> <img/> </div>
     
     <!--- slide 2 --->
	   <input nojs-slide-click type="radio" name="groupName">
     <div> <img/> </div>

     <!--- lightbox 2 --->
		 <input nojs-lightbox-click type="radio"> 
		 <div> <img/> </div>

   </div> 

   ----------------------
    (4) Target-to-slider
   ----------------------
	 
   <div nojs-slider>    <!--- Slider -->

     <!--- slide 1 --->
	   <input nojs-slide-click type="radio" name="groupName_1" checked>
     <label for="slide1"> <img/> </label>
     
     <!--- slide 2 --->
	   <input nojs-slide-click type="radio" name="groupName_1">
     <label for="slide2"> <img/> </label>

   </div> 

   <div nojs-slider >   <!--- Lightbox -->
     
     <input nojs-lightbox-close type="radio" name="groupName_2" id="close">

     <!--- slide 1 --->
	   <input nojs-slide-click type="radio" name="groupName_2" id="slide1">
     <div> <img/> </div>
     
     <!--- slide 2 --->
	   <input nojs-slide-click type="radio" name="groupName_2" id="slide2">
     <div> <img/> </div>

   </div> 

*/

/* ------------------- lightbox-general -------------------- */

[nojs-lightbox-close] { width: 0; height: 0; margin: 0; }
[nojs-lightbox-close]:before {
 content: 'X';
 display: block;
 z-index: 1001;
}
[nojs-lightbox-close]:after {
 content: '';
 display: block;
 background: black;
 background: rgba(0, 0, 0, 0.8);
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 z-index: 1000;
}
[nojs-lightbox-close]:checked:before, [nojs-lightbox-close]:checked:after {
  display: none;
}
[nojs-lightbox-close] { padding: 100%; }

/* -------------------- (1) lightbox-single -------------------- */

[nojs-lightbox-single] + * { display: none; }
[nojs-lightbox-single]:checked + * { display: block; }

/* --------------------- (2) beetwen-slider -------------------- */

[nojs-lightbox-click] { width: 0; height: 0; margin: 0; }
[nojs-lightbox-click]:before, [nojs-lightbox-click]:after {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 50px;
}
[nojs-lightbox-click]:before { content: '<'; left: 0; right: auto;  }
[nojs-lightbox-click]:after  { content: '>'; left: auto;    right:0;  }

[nojs-lightbox-click] + * { display: none; }

/* Loop: last next */
[nojs-lightbox-click] ~ [nojs-lightbox-click]:after { display: none; }

/* Loop: first pevr */
[nojs-lightbox-click] ~ [nojs-lightbox-click]:checked ~ [nojs-lightbox-click]:before { display: none; }

/* display */
[nojs-lightbox-click]:checked + *,
[nojs-lightbox-click]:checked ~ [nojs-lightbox-click]:after {
  display: block;
}
[nojs-lightbox-click]:checked:after,[nojs-lightbox-click]:checked:before,
[nojs-lightbox-click]:checked ~ [nojs-lightbox-click] ~ [nojs-lightbox-click]:after { 
  display: none; 
}

/* -------------------- (3) treger-to-slider ------------------- */

.nothing {}


/*###############################################################
                       nojs - menu
###############################################################*/

/* --------------------------------------------------------------
 * HTML Sintaxs
 * --------------------------------------------------------------

   -----------------
    (1) with links
   -----------------

    <menu nojs-menu>
      <li><a href="/home">home</a></li>
      <li><a href="/about">about</a>
		  	<menu>
		     <a href="/contact">contact</a>
				 <a href="/contact_info">info</a>
     		</menu>
			</li>
    </menu>

   ------------------
    (2) with Anchors
   ------------------

    <menu nojs-menu>
      <li><a href="#home" id="home">home</a></li>
      <li><a href="#about">about</a>
		  	<menu>
		     <a href="#contact">contact</a>
				 <a href="#contact_info">info</a>
     		</menu>
			</li>
    </menu>
	
		<section nojs-menu-section id="home"> text </section>
		<section nojs-menu-section id="about"> text </section>
		<section nojs-menu-section id="contact"> text </section>
		<section nojs-menu-section id="contact_info"> text </section>

  ------------------
    (2) with select
   ------------------

		<input nojs-menu type="checkbox" /> 
    <menu>
      <li><a href="#home" id="home">home</a></li>
      <li><a href="#about">about</a>
		  	<menu>
		     <a href="#contact">contact</a>
				 <a href="#contact_info">info</a>
     		</menu>
			</li>
    </menu>
*/

[nojs-menu] * { display: inline-block; }
[nojs-menu] * > menu { display: none; position: absolute; margin: 0; padding: 0; }
[nojs-menu] *:hover > menu { display: block; }
[nojs-menu] *:target { color: red; } 

[nojs-menu-section] { display: none; }
[nojs-menu-section]:target { display: block; }

input[nojs-menu] { width: 0; height: 0; margin: 0; cursor: pointer; }
input[nojs-menu]:before { content: '=';	position: relative;	z-index: 1001; } 
input[nojs-menu]:after {
   content: '';
	 position: fixed;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 z-index: 1000;
   display: none; 
}
input[nojs-menu] + * { display: none; position: absolute; z-index: 1000; }
input[nojs-menu]:checked + * { display: block; }
input[nojs-menu]:checked:after { display: block; }


/*###############################################################
                       nojs - tabs
###############################################################*/

/* --------------------------------------------------------------
 * HTML Sintaxs
 * --------------------------------------------------------------



*/

/*###############################################################
                       nojs - search
###############################################################*/

/* --------------------------------------------------------------
 * HTML Sintaxs
 * --------------------------------------------------------------



*/

search hr{margin-top: 50px;}
[search-target] { 
	width: 160px;
	height: 0;
	margin: 0; 
}

[search-target]:before{
	content: attr(data-label);
	color: rgb(46, 29, 0);
	padding: 13px 50px;
	background-color: antiquewhite;
	border-radius: 0 100px;
}

[search-target]:hover:before {
	background-color: rgb(218, 125, 1);
}

[search] {
	width:0;
	height: 150px;
	float: left;
	-webkit-transition: all .7s;
	-moz-transition: all .7s;
	-ms-transition: all .7s;
	-o-transition: all .7s;
	transition: all .7s;
}
search { 
	width: 100%;
	max-width: 1025px;
	margin: auto;
	min-height: 600px;
}	
[search] img { width: 100%;  height: 100%;}
[search] { /*display:none;*/ }

[search-target="all"]:checked	~ [search],
[search-target="test-1"]:checked	~ [search*="test-1"],
[search-target="test-2"]:checked	~ [search*="test-2"],
[search-target="test-3"]:checked	~ [search*="3"],
[search-target="test-4"]:checked	~ [search*="test-4"] { 
	width: 225px;
	border: 1px solid #e4e4e4;
	padding: 5px;
	margin: 9px;
	background-color: rgba(255, 255, 255, 0.5);
}


