

/*###############################################################
                       lightbox (style)
###############################################################*/

/* -- lightbox -- */

[nojs-lightbox-click] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  cursor: pointer;

}
[nojs-lightbox-click]:before,[nojs-lightbox-click]:after {
  display: none;
}
[nojs-lightbox-click]:checked + lightbox {
  position: fixed;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 20px;
  bottom: 0;
  display: block;
  z-index: 1000;
  pointer-events: none;
}
[nojs-lightbox-click]:checked + *:before {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  content: '';
  display: block;
  z-index: -1;
}


